<settings version="2">
    <setting id="providers.lang">Greek+English</setting>
    <setting id="linesplit">0</setting>
    <setting id="sec.identify">18</setting>
    <setting id="debrid.only">false</setting>
    <setting id="tm.user">ab56201f58598d30890a785c7683c28a</setting>
    <setting id="subtitles">true</setting>
</settings>
