<settings version="2">
    <setting id="startup">true</setting>
    <setting id="timer" default="true">None</setting>
    <setting id="period" default="true">0</setting>
    <setting id="time">03:33</setting>
    <setting id="delete.zip">true</setting>
    <setting id="okpnneme" default="true"></setting>
    <setting id="okpnenter" default="true"></setting>
</settings>
